    .restaurants-container {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .restaurant-page-container {
        background-color: $bg-light;
        border-radius: 25px 25px 0 0;
        top: -50px;
        position: relative;
        padding: 20px;


    }



    /**** Desktop view ****/

    @media screen and (min-width: 1024px) {
        .main-container {
            width: 100%;

        }

        .operating-container {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .restaurants-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 50px;
        }
    }