.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header__logo {
        padding: 13px 0;

        img {
            object-fit: cover;
            height: 36px;
        }
    }

    .header__location {
        background-color: $grey-color;
        color: $grey-dark-color;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;


        .header__input {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .header__txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 15px;
        background-color: $bg-light;
    }

    .header__title {
        font-size: 24px;
    }

    .header__subtitle {
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
    }
}

/////Desktop view////////

@media (min-width: 768px) {

    .header__txt {
        min-width: 100%;

    }
}