.section {
    padding: 50px 20px;

    .section__title {
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
    }
}

///Desktop view///
@media screen and (min-width: 1024px) {
    .section {
        padding: 50px 180px;
    }
}