.card {
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
}

/****Homepage Operating Cards****/
.operating-card {
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    &__nbr {
        border-radius: 50%;
        background-color: $primary-color;
        color: #ffff;
        font-size: 14px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        position: absolute;
        left: 5px;
    }

    &__icon {
        color: #7e7e7e;
        position: relative;
        left: -20px;

    }

    &__txt {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}

/****Homepage Restaurant Cards****/
.restaurants-card {
    box-sizing: border-box;
    display: flex;

    &-head {
        width: 100%;

        &__img {
            object-fit: cover;
            height: 231px;
            width: 100%;
        }
    }
}