.card {
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

/****Homepage Operating Cards****/
.operating-card {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: $bg-light;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    &__nbr {
        border-radius: 50%;
        background-color: $primary-color;
        color: #ffff;
        font-size: 14px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        position: absolute;
        left: 5px;
    }

    &__icon {
        color: #7e7e7e;
        position: relative;
        left: -20px;

    }

    &__txt {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}

/****Homepage Restaurant Cards****/
.restaurant-card {
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    background-color: #ffff;

    a {
        text-decoration: none;
        color: inherit
    }

    &__head {
        width: 100%;
    }

    &__img {
        object-fit: cover;
        height: 170px;
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 13px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    &__subtitle {
        font-size: 17px;
        font-weight: 300;
        margin: 5px 0 0 0;
    }

}

/****Restaurant card menu****/
.menu-card {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    width: 100%;
    justify-content: space-between;

    &__left-box {
        display: flex;
        overflow: hidden;

    }

    &__text-box {
        width: 100%;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;
    }


    &__title {
        margin: 0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__description {
        margin: 5px 0 0 0;
        font-size: 16px;
        font-weight: 300;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__right-box {
        display: flex;
        flex-direction: row;
    }

    &__price {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: $grey-dark-color;
        align-self: end;
        padding: 15px;
    }

    &__checkbox {
        width: 0;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green-color;
        font-size: 25px;
        transition: all 0.4s ease-in-out;

        .fa-circle-check {
            color: #ffff;
        }
    }

    &:hover {
        .menu-card__checkbox {
            width: 60px;
            opacity: 1;
        }
    }
}

///Tablet view///

@media screen and (min-width: 768px) {
    .operating-card {
        display: flex;
        overflow: visible;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
        width: 33%;
        position: relative;


        &__nbr {
            position: absolute;
            left: -10px;
        }

        &___icon {
            position: relative;
        }
    }

    .restaurant-card {
        flex: 1 0 calc(50% - 100px);

        &__img {
            height: 230px;
        }
    }


}

///Desktop view///
@media screen and (min-width: 1024px) {}